---
http_interactions:
- request:
    method: get
    uri: https://api.rollbar.com/api/1/projects?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"-2109565112"
      X-Response-Time:
      - 3ms
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "err": 0,
          "result": [
            {
              "id": 32194,
              "account_id": 22929,
              "settings_data": {
                "fingerprint_versions": {
                  "browser.browser-js": 1
                },
                "integrations": {
                  "jira": {},
                  "bitbucket": {},
                  "github": {},
                  "trello": {},
                  "slack": {},
                  "webhook": {},
                  "asana": {},
                  "victorops": {},
                  "campfire": {},
                  "pivotal": {},
                  "flowdock": {},
                  "sprintly": {},
                  "pagerduty": {},
                  "hipchat": {},
                  "email": {}
                }
              },
              "date_created": 1438942742,
              "date_modified": 1438968649,
              "name": null
            },
            {
              "id": 32213,
              "account_id": 22929,
              "settings_data": {
                "fingerprint_versions": {
                  "browser.browser-js": 1
                },
                "integrations": {
                  "jira": {},
                  "bitbucket": {},
                  "github": {},
                  "trello": {},
                  "slack": {},
                  "webhook": {},
                  "asana": {},
         [...]
