---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/projects?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: name=test
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 96ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "status": "enabled",
            "name": "test",
            "date_modified": 1439148297,
            "account_id": 22929,
            "date_created": 1439148297,
            "id": 32330,
            "settings_data": {
              "fingerprint_versions": {
                "browser.browser-js": 1
              },
              "integrations": {
                "jira": {},
                "bitbucket": {},
                "github": {},
                "trello": {},
                "slack": {},
                "webhook": {},
                "asana": {},
                "victorops": {},
                "campfire": {},
                "pivotal": {},
                "flowdock": {},
                "sprintly": {},
                "pagerduty": {},
                "hipchat": {},
                "email": {
                  "enabled": true
                }
              }
            }
          }
        }
  recorded_at: Sun, 09 Aug 2015 19:24:58 GMT
recorded_with: VCR 2.9.3
