---
http_interactions:
- request:
    method: get
    uri: https://api.rollbar.com/api/1/project/32329?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"248162397"'
      X-Response-Time:
      - 2ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "id": 32329,
            "account_id": 22929,
            "status": "enabled",
            "settings_data": {
              "fingerprint_versions": {
                "browser.browser-js": 1
              },
              "integrations": {
                "jira": {},
                "pagerduty": {},
                "bitbucket": {},
                "github": {},
                "trello": {},
                "slack": {},
                "campfire": {},
                "webhook": {},
                "victorops": {},
                "asana": {},
                "pivotal": {},
                "flowdock": {},
                "sprintly": {},
                "hipchat": {},
                "email": {
                  "enabled": true
                }
              }
            },
            "date_created": 1439148253,
            "date_modified": 1439148253,
            "name": "test1"
          }
        }
  recorded_at: Sun, 09 Aug 2015 19:24:57 GMT
recorded_with: VCR 2.9.3
