---
http_interactions:
- request:
    method: get
    uri: https://api.rollbar.com/api/1/project/32329/access_tokens?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"-980781937"
      X-Response-Time:
      - 3ms
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "err": 0,
          "result": [
            {
              "project_id": 32329,
              "access_token": "00690f187c30432db4a3b06208e914a8",
              "name": "post_server_item",
              "status": "enabled",
              "rate_limit_window_size": null,
              "rate_limit_window_count": null,
              "cur_rate_limit_window_start": null,
              "cur_rate_limit_window_count": null,
              "date_created": 1439148253,
              "date_modified": 1439148253,
              "scopes": [
                "post_server_item"
              ]
            },
            {
              "project_id": 32329,
              "access_token": "4132e67319ea4656a51bf328b0e34120",
              "name": "read",
              "status": "enabled",
              "rate_limit_window_size": null,
              "rate_limit_window_count": null,
              "cur_rate_limit_window_start": null,
              "cur_rate_limit_window_count": null,
              "date_created": 1439148253,
              [...]
