---
http_interactions:
- request:
    method: get
    uri: https://api.rollbar.com/api/1/invite/17942?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1473392447"'
      X-Response-Time:
      - 2ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "id": 17942,
            "from_user_id": 5325,
            "team_id": 26694,
            "to_email": "test@email.com",
            "status": "pending",
            "date_created": 1439203386,
            "date_redeemed": null
          }
        }
  recorded_at: Mon, 10 Aug 2015 10:43:55 GMT
recorded_with: VCR 2.9.3
