---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/team/26694/invites?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: email=vlad.ragunovich%40gmail.com
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Location:
      - /api/1/team/26694/user/26622?access_token=<ACCESS_TOKEN>
      X-Response-Time:
      - 303ms
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Aug 2015 10:40:55 GMT
- request:
    method: get
    uri: https://api.rollbar.com/api/1/team/26694/user/26622?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: email=vlad.ragunovich%40gmail.com
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-1802793332"'
      X-Response-Time:
      - 3ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "team_id": 26694,
            "user_id": 26622
          }
        }
  recorded_at: Mon, 10 Aug 2015 10:40:55 GMT
recorded_with: VCR 2.9.3
