---
http_interactions:
- request:
    method: put
    uri: https://api.rollbar.com/api/1/team/26694/project/32332?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 70ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "team_id": 26694,
            "project_id": 32332
          }
        }
  recorded_at: Sun, 09 Aug 2015 20:54:30 GMT
recorded_with: VCR 2.9.3
