---
http_interactions:
- request:
    method: get
    uri: https://api.rollbar.com/api/1/teams?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1853156065"'
      X-Response-Time:
      - 1ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": [
            {
              "id": 26589,
              "account_id": 22929,
              "name": "Owners",
              "access_level": "owner"
            },
            {
              "id": 26691,
              "account_id": 22929,
              "name": "test1",
              "access_level": "standard"
            }
          ]
        }
  recorded_at: Sun, 09 Aug 2015 20:40:13 GMT
recorded_with: VCR 2.9.3
