---
http_interactions:
- request:
    method: get
    uri: https://api.rollbar.com/api/1/team/26589/project/32194?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-49973405"'
      X-Response-Time:
      - 18ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "team_id": 26589,
            "project_id": 32194
          }
        }
  recorded_at: Sun, 09 Aug 2015 20:51:14 GMT
recorded_with: VCR 2.9.3
