---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/teams?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: name=test&access_level=standard
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 85ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "id": 26692,
            "account_id": 22929,
            "name": "test",
            "access_level": "standard"
          }
        }
  recorded_at: Sun, 09 Aug 2015 20:40:15 GMT
recorded_with: VCR 2.9.3
