---
http_interactions:
- request:
    method: get
    uri: https://api.rollbar.com/api/1/team/26589?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1474850256"'
      X-Response-Time:
      - 2ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "id": 26589,
            "account_id": 22929,
            "name": "Owners",
            "access_level": "owner"
          }
        }
  recorded_at: Sun, 09 Aug 2015 20:40:14 GMT
recorded_with: VCR 2.9.3
