---
http_interactions:
- request:
    method: get
    uri: https://api.rollbar.com/api/1/team/26589/users?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1234486189"'
      X-Response-Time:
      - 2ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": [
            {
              "team_id": 26589,
              "user_id": 26622
            }
          ]
        }
  recorded_at: Sun, 09 Aug 2015 21:00:17 GMT
recorded_with: VCR 2.9.3
